*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  width: 420px;
  border: 2px;
}

nav {
  background-color: #000;
  display: block;
  padding: 20px 0 20px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  display: block;
  background-color: gray;
  padding-top: 60px;
}


.location {
  margin:1px 0 1px 0;
}

.arrow {
  display: block;
  float: right;
  margin: 6% 5% 5% 0;
}
.content {
  background-color: white;
  padding: 4%;
  border: 1px, color: red;
}

h1{
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5;
}
